:root {
    background-color: rgb(121, 163, 190);
    margin: 0;
    padding: 0;
}

.App-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 50px;
    bottom: 450px;
    left: 525px;
}

.endangered-level {
    display: flex;
    justify-content: center;
    background-color: brown;
    width: 50%;
    padding: 5px;
    border-radius: 15px;
    position: relative;
    bottom: 30px;
    margin-bottom: -40px;
}

.animal-name {
    margin-bottom: -25px;
}
.scientific-name {
    margin-bottom: 0;
}

.card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    width: 504px;
    height: 896px;
    border-radius: 20px;
}

.card-image {
    display: flex;
    margin-top: 35px;
    width: 475px;
    height: 448px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.next-card {
    position: relative;
    top: 390px;
    right: 50px;
    height: 75px;
    width: 75px;
}

.prev-card {
    position: relative;
    top: 390px;
    right: 600px;
    height: 75px;
    width: 75px;
}